<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAP4CdUd7FnrgcspZqGRXsqkogzngFaSnk</string>
	<key>GCM_SENDER_ID</key>
	<string>966656788419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tranzita.pgMumbaiCommandCentreMobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>comandc-99a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>comandc-99a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966656788419:ios:c1eee802c9ed66f11c5f76</string>
</dict>
</plist>